fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pydantic==2.10.4
pydantic-settings==2.7.0
torch==2.5.1
torchvision==0.20.1
opencv-python-headless==4.10.0.84
numpy==2.2.1
pandas==2.2.3
scikit-learn==1.6.0
joblib==1.4.2
matplotlib==3.10.0
seaborn==0.13.2
Pillow==11.1.0
python-dotenv==1.0.1
albumentations==1.4.23
